$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: white;
}

a:hover, a:focus {
  color: white;
}

/* Space out content a bit */
body {
  font-family:'Source Code Pro';
  letter-spacing:2px;
  font-weight:500;
  font-style:normal;
  color: #666666;
  background-color: #000000;
  letter-spacing: .5px;
  background-image: url('/images/planet_texture.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #666666;
  list-style-type: none;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  ul li {
    display: inline;
  }

  ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #FFFFFF;
  }
}

.white {
  color: #FFFFFF;
}

.black {
  color: #000000;
}

.black-background {
  background-color: rgba(0, 0, 0, 1);
}

blockquote {
  border-left: 5px solid #666666;
}

.sidebar {
  height: 450px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul li {
    padding-bottom: .7em;
  }
  ul li a {
    text-decoration: none;
    padding: .25em;
    color: #666666;
    font-size: 22px;
    letter-spacing: .12em;
  }
  a:hover {
    color: #FFFFFF;
  }
  .active a {
    color: #FFFFFF;
  }
}

.social-icons {
    display:inline-block;
    list-style: none;
    margin:10px 0;
    padding:0;
    text-align: center;

    img {
      max-height: 30px;
      max-width: 40px;
    }

    li {
      padding-bottom: 10px;
      display: inline;
    }
    ul li a {
      text-decoration: none;
      padding: .2em 1em;
      color: #fff;
      background-color: #036;
    }

    ul li a:hover {
      color: #fff;
      background-color: #369;
    }
}
/* Custom page footer */
.footer {
  padding-top: 4px;
  color: #777;
  border-top: 1px solid #666666;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px; 
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
.container {
  width: 100%;
  padding: 0px 68px;
}

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Space out the masthead */
.header {
  margin-bottom: 25px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}
// }

.endorsements > img {
  width: 100px;
  margin: 10px;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.white-section {
  background-color: white;
}

.black-section {
  background-color: #111111;
}

.review-container {
    margin-top: 30px;
    img {
      margin-bottom: 15px;
    }
}